@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #F9FAFB;
}

.header {
  justify-content: center;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 300px auto 200px 100px;
  grid-auto-flow: column;
  place-items: center;
  background-color: rgb(180.9024390244, 207.743902439, 251.5975609756);
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
}
@media (max-width: 540px) {
  .header {
    display: grid;
    grid-auto-flow: column;
  }
}
.header__logo {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: lowercase;
  background: linear-gradient(45deg, #0f172a, #3B82F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.header__menu {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  place-items: center;
  place-content: center;
}
.header__resume {
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  color: #000;
}
.header__button {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  background-color: #F9FAFB;
  border: 1px solid #0f172a;
}
.header__toggle {
  display: none;
}
.header__icon {
  display: none;
  position: fixed;
  margin: 30px;
}
@media (max-width: 540px) {
  .header__icon {
    display: block;
    height: 25px;
    width: 30px;
    justify-self: end;
    align-self: center;
  }
  .header__icon::after, .header__icon::before,
  .header__icon span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #8de154;
    transition: 0.3s;
  }
  .header__icon::before {
    content: "";
    top: 0;
  }
  .header__icon::after {
    content: "";
    bottom: 0;
  }
  .header__icon span {
    top: 11px;
  }
  .header__toggle:checked ~ .header__icon::before {
    top: 12px;
    transform: rotate(-45deg);
  }
  .header__toggle:checked ~ .header__icon::after {
    bottom: 10px;
    transform: rotate(45deg);
  }
  .header__toggle:checked ~ .header__icon span {
    top: 12px;
    transform: rotate(-45deg);
  }
  .header__toggle:checked ~ .header__icon {
    z-index: 999;
  }
  .header__menu {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #F9FAFB;
    top: -100vh;
    bottom: 100vh;
    z-index: 900;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    place-content: center;
    gap: 10px;
    transition: all 0.5s;
  }
  .header__toggle:checked ~ .header__menu {
    top: 0;
    bottom: 0;
  }
}

.menu__link {
  border: 1px solid #3B82F6;
  border-radius: 20px;
  background-color: rgb(8.912195122, 79.2195121951, 194.087804878);
  color: #F9FAFB;
  font-size: 1rem;
  transition: all 0.5s;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
.menu__link:hover {
  background-color: #F9FAFB;
  color: #0f172a;
  border: 1px solid #3B82F6;
}

.main {
  display: grid;
  place-items: center;
}

.footer {
  display: grid;
  background-color: rgb(180.9024390244, 207.743902439, 251.5975609756);
  padding: 20px;
}
.footer__copy {
  text-align: center;
}

.about {
  display: grid;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
  place-items: center;
  justify-content: center;
  width: 1000px;
}
.about__title {
  text-align: center;
  padding: 10px;
  font-size: 2.1rem;
}
.about__text {
  padding: 20px 30px;
  font-size: 1.2rem;
  background-color: rgb(205.2829268293, 223.2926829268, 252.7170731707);
  border-radius: 20px;
}
.about__section {
  display: grid;
  gap: 20px;
  padding: 20px;
  place-items: center;
  justify-content: center;
  width: 1000px;
}
.about__card {
  display: grid;
  gap: 10px;
  padding: 20px 30px;
  background-color: rgb(198.8507462687, 240.223880597, 170.776119403);
  border-radius: 20px;
  width: 1000px;
}

.card__title {
  font-size: 1.7rem;
}
.card__text {
  font-size: 1.2rem;
}
.card__point {
  font-size: 1.2rem;
  list-style-type: "✔";
  padding: 5px 10px;
}

.contacts {
  display: grid;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
}
.contacts__title {
  text-align: center;
  font-size: 2.1rem;
}
.contacts__links {
  display: grid;
  gap: 20px;
}
.contacts__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #0f172a;
  border: 2px solid #0f172a;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(156.5219512195, 192.1951219512, 250.4780487805);
}

.form {
  display: grid;
  gap: 20px;
  background-color: rgb(21.7105263158, 33.2894736842, 60.7894736842);
  min-width: 1000px;
  min-height: 500px;
  padding: 30px 40px;
  border-radius: 30px;
  border: 5px solid #3B82F6;
}
.form__section {
  display: grid;
}
.form__label {
  font-size: 1.2rem;
  color: #F9FAFB;
}
.form__input {
  width: 100%;
  height: 60px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  resize: vertical;
  width: 100%;
  font-size: 1.1rem;
}
.form__input:focus {
  border: 2px solid #0f172a;
}
.form__input:hover {
  border: 2px solid #0f172a;
}
.form__textarea {
  border-radius: 20px;
  padding: 20px;
  font-size: 1.2rem;
}
.form__textarea:hover {
  border: 2px solid #0f172a;
}
.form__button {
  font-size: 1.5rem;
  border: 1px solid #3B82F6;
  border-radius: 20px;
  background-color: rgb(8.912195122, 79.2195121951, 194.087804878);
  color: #F9FAFB;
  font-size: 1rem;
  transition: all 0.5s;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
.form__button:hover {
  background-color: #F9FAFB;
  color: #0f172a;
  border: 1px solid #3B82F6;
}
.form__button {
  font-weight: bold;
}

.education {
  display: grid;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
  place-items: center;
  justify-content: center;
  width: 1000px;
}
.education__title {
  text-align: center;
  font-size: 2.1rem;
  padding: 10px;
}
.education__list {
  display: grid;
  gap: 20px;
  padding: 30px;
  width: 1000px;
  background-color: rgb(198.8507462687, 240.223880597, 170.776119403);
  border-radius: 20px;
}
.education__point {
  display: grid;
  gap: 5px;
}

.point__text {
  font-size: 1.2rem;
}

.hero {
  display: grid;
  gap: 20px;
  padding: 20px;
  place-items: center;
}
.hero__logo {
  border-radius: 50%;
  height: 200px;
}
.hero__title {
  text-align: center;
  font-size: 2.3rem;
}
.hero__subtitle {
  text-align: center;
  font-size: 1.2rem;
}
.hero__button {
  padding: 20px;
}
.hero__link {
  border: 1px solid #3B82F6;
  border-radius: 20px;
  background-color: rgb(8.912195122, 79.2195121951, 194.087804878);
  color: #F9FAFB;
  font-size: 1rem;
  transition: all 0.5s;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
.hero__link:hover {
  background-color: #F9FAFB;
  color: #0f172a;
  border: 1px solid #3B82F6;
}

.projects {
  display: grid;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
  width: 1000px;
  place-items: center;
  place-content: center;
}
.projects__title {
  text-align: center;
  font-size: 2.1rem;
}
.projects__items {
  display: grid;
  gap: 20px;
  padding: 20px;
}
.projects__section {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: rgb(205.2829268293, 223.2926829268, 252.7170731707);
  border-radius: 20px;
}
.projects__name {
  font-size: 1.5rem;
}
.projects__text {
  font-size: 1.2rem;
}
.projects__tegs {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
}
.projects__teg {
  background-color: rgb(198.8507462687, 240.223880597, 170.776119403);
  padding: 6px;
  border-radius: 10px;
}
.projects__images {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  place-items: center;
}
.projects__image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.skills {
  display: grid;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
}
.skills__title {
  text-align: center;
  padding: 10px;
  font-size: 2.1rem;
}
.skills__items {
  display: grid;
  gap: 100px;
  padding: 20px 40px;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px;
  background-color: rgb(205.2829268293, 223.2926829268, 252.7170731707);
}
.skills__section {
  display: grid;
  gap: 20px;
}
.skills__bar {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.bar__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bar__level {
  text-align: right;
}
.bar__fill {
  width: 400px;
}