@use 'sass:color';

$primary: #3B82F6;
$secondary: #8de154;
$tertiary: #F9FAFB;
$accent: #0f172a;


@function light($color, $amount: 0) {
    @return color.adjust($color, $lightness: $amount * 1%);
}

@function dark($color, $amount: 0) {
    @return color.adjust($color, $lightness: $amount * -1%);
}