@use 'color' as *;
@use 'mixin' as *;

.hero {
    display: grid;
    gap: 20px;
    padding: 100px 20px 60px;
    place-items: center;

    animation: ani 1s ease-in-out;

    @keyframes ani {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }

        100% {
            opacity: 1;

        }
    }

    &__logo {
        border-radius: 50%;
        height: 200px;

    }

    // .hero__title
    &__title {
        text-align: center;
        font-size: 2.3rem;
        line-height: 1.2;

    }

    // .hero__subtitle
    &__subtitle {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    // .hero__button
    &__button {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        gap: 20px;
    }

    // .hero__link
    &__link {
        @include button;
        border-radius: 8px;
        display: inline-block;
    }

    @media (max-width: 768px) {
        padding: 80px 15px 40px;
        gap: 15px;

        &__logo {
            height: 120px;
        }

        &__title {
            font-size: 1.6rem;
        }

        &__subtitle {
            font-size: 1rem;
            padding: 0 10px;
        }

        &__button {
            gap: 10px;
            grid-auto-flow: column;
            // width: 100%;
            max-width: 400px;
        }

        &__link {
            width: 100%;
            max-width: 200px;
            padding: 12px;
            font-size: 0.9rem;
        }
    }
}