@use 'color' as *;
@use 'mixin' as *;

.contacts {
    display: grid;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
    justify-items: center;

    // .contacts__title
    &__title {
        text-align: center;
        font-size: 2.1rem;
    }


    // .contacts__links

    &__links {
        display: grid;
        gap: 15px;
        width: 100%;
        max-width: 500px;
    }

    // .contacts__link

    &__link {
        font-size: 1.2rem;
        text-decoration: none;
        color: $accent;
        border: 2px solid $accent;
        border-radius: 20px;
        padding: 20px;
        background-color: light($primary, 20);
    }

    @media (max-width: 768px) {
        padding: 15px;
        padding-top: 20px;
        gap: 20px;

        &__title {
            font-size: 1.8rem;
        }

        &__link {
            font-size: 1rem;
            padding: 12px 15px;
        }
    }
}

.form {
    display: grid;
    gap: 20px;
    // background-color: light($accent, 5);
    width: 100%;
    max-width: 500px;
    padding: 25px 40px;
    border-radius: 30px;
    border: 5px solid $primary;

    // .form__section
    &__section {
        display: grid;
        gap: 5px;
    }

    // .form__label

    &__label {
        font-size: 1.2rem;
        color: $accent;
    }

    // .form__input

    &__input {
        @include input;
    }

    // .form__textarea

    &__textarea {
        border-radius: 20px;
        padding: 20px;
        font-size: 1rem;
        border: 2px solid $primary;

        &:hover {
            border: 2px solid $accent;
        }
    }

    // .form__button

    &__button {
        @include button;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        padding: 20px;
        gap: 15px;

        &__label {
            font-size: 1rem;
        }

        &__input {
            height: 50px;
            font-size: 0.95rem;
        }

        &__textarea {
            font-size: 0.95rem;
            padding: 12px;
        }

        &__button {
            font-size: 1.1rem;
            padding: 12px;
        }
    }
}